In [3]:
##measure of dispersion
##varience and standard deviation
ages_list=[23,43,23,56,74,32,68,38,45,32]

In [4]:
import numpy as np

means=np.mean(ages_list)
means

43.4

In [5]:
var=np.var(ages_list)

In [6]:
var

282.44

In [7]:
std=np.std(ages_list)
std

16.805951326836574

In [8]:
import pandas as pd

In [9]:
data=[[10,12,13],[34,23,45],[32,34,21]]

In [10]:
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [12]:
df=pd.DataFrame(data)
df

    0   1   2
0  10  12  13
1  34  23  45
2  32  34  21

In [13]:
df.var()

0    177.333333
1    121.000000
2    277.333333
dtype: float64

In [14]:
##rowwise varience
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [15]:
##collumn wise varience
df.var(axis=0)

0    177.333333
1    121.000000
2    277.333333
dtype: float64